<a href="/">flowerz</a>
<div>{{person_name}}'s sightings:</div>
<ul>
    {{#each names}} 
        <li><a href="/{{this.flower}}">{{this.flower}}<a/>: {{this.date}} at {{this.loc}}</li>
    {{/each}}
</ul>